html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.allwrapper {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

img {
  vertical-align: bottom;
  margin: auto;
}
