.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #515151;
  text-align: center;
}

.title1 {
  padding-top: 105px;
  margin-bottom: 76px;
}

.section-title::after {
  content: '';
  display: block;
  background-image: url(../images/line1.png);
  width: 164px;
  height: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 28px;
}

.title2 {
  color: $logo-content-title-color;
  padding-top: 100px;
  margin-bottom: 76px;
}
